@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Nunito", serif;
    color: #939393;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
}

p {
    margin-bottom: 1rem;
}

header {
    padding-block: 20px;
    margin-bottom: 3rem;

    .logo {
        margin-bottom: -5px;

        a {
            color: #000000;
        }

        span {
            color: #407BFF;
        }
    }

    .menu {
        padding-left: 40px;

        li {
            position: relative;

            a {
                color: rgba(0, 0, 0, 0.5);
                padding: 10px 15px;
                font-size: 14px;
                transition: all .2s;

                &:hover {
                    color: #000000;
                }
            }

            .submenu {
                position: absolute;
                top: 60px;
                padding: 20px 0;
                margin-bottom: 20px;
                box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
                opacity: 0;
                visibility: hidden;
                transition: all .3s;
                background-color: #fff;

                a {
                    padding: 5px 20px;
                    color: #000000;
                }
            }

            &:hover {
                .submenu {
                    opacity: 1;
                    top: 35px;
                    visibility: visible;
                }
            }
        }
    }
}

.btn {
    padding: 5px 22px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    font-size: 14px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);

    transition: all .2s;

    &:hover {
        border-color: #000;
    }
}

.btn-blue {
    padding: 5px 22px;
    background-color: #407BFF;
    border: 1px solid #407BFF;
    border-radius: 30px;
    font-size: 14px;
    display: inline-block;
    color: rgb(255, 255, 255);
}

main {
    section {
        padding-block: 100px;
    }
}

#intro {
    overflow-x: hidden;

    h1 {
        font-size: 70px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 30px;
    }

    [class^='btn'] {
        padding: 15px 30px;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .05rem;

        &:hover {
            background-color: #407BFF;
            color: #FFF;
            border-color: #407BFF;
        }
    }

    .dots {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        width: 304px;
        height: 264px;
        transform: translateX(60%);
    }
}

#service {
    .subtitle {
        color: #407BFF;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 700;
    }

    h2 {
        margin-bottom: 1.5rem;
        font-weight: 500;
        line-height: 1.2;
        font-size: 38px;
    }

    ul {
        margin-bottom: 1.5rem;

        li {
            margin-bottom: 10px;

            i {
                color: #407BFF;
                margin-right: 10px;
            }
        }
    }

    .feedback-desc {
        color: #000;
        font-style: italic;
    }

    .client-card {
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 20px;
        }

        h5 {
            font-weight: 400;
        }
    }

    .service-big-image {
        cursor: pointer;
        box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.1);
        border: 10px solid #fff;
        position: relative;

        span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 50px;
            height: 50px;
            display: inline-block;
            border-radius: 50%;
            box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;

            i {
                color: #407BFF;
            }
        }

        &::before {
            content: " ";
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.1);
            position: absolute;
            opacity: 0;
            inset: 0;
            transition: all .2s;
        }

        &:hover {

            &::before {
                opacity: 1;
            }
        }
    }
}

#service-slider {
    background-color: #f8f9fa;

    img {
        box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.1);
        border-radius: 7px;
    }

    .service-item {
        padding: 20px;
        transition: all .3s;
        border-radius: 7px;
        margin-bottom: 10px;
        cursor: pointer;

        p {
            margin-bottom: 0;
        }

        .service-icon {
            width: 40px;
            height: 40px;
            margin-right: 30px;
            background-color: #6fe7dd;
            box-shadow: 0 2px 10px 0 rgba(111, 231, 221, 0.3);
            border-radius: 30%;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                color: #fff;
            }
        }

        &:hover {
            box-shadow: 0 2px 10px 0 rgba(111, 231, 221, 0.3);
            background-color: #fff;
        }
    }

    .active {
        border-right: 5px solid #407BFF;
    }


}

#service-items {
    .service-card {
        h3 {
            font-weight: 500;
            font-size: 18px;
        }

        .service-icon {
            width: 50px;
            height: 50px;
            margin-bottom: 15px;
            background-color: #6fe7dd;
            box-shadow: 0 2px 10px 0 rgba(111, 231, 221, 0.3);
            border-radius: 30%;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                color: #fff;
            }
        }

        .icon-yellow {
            background-color: #ffc93c;
        }
    }
}

#pricing {
    background-color: #f8f9fa;

    h2 {
        font-size: 38px;
        font-weight: 500;
    }

    .pricing-card {
        padding: 50px;
        background: #ffffff;
        border-radius: 40px;

        h3 {
            font-size: 30px;
            font-weight: 500;
        }

        p {
            sup {
                font-size: 20px;
            }

            color: #407BFF;
            font-size: 40px;
        }

        ul {
            padding: 10px;
            margin-bottom: 3rem;

            li {
                padding-left: 30px;
                margin-bottom: 10px;
                position: relative;

                i {
                    color: #407BFF;
                    font-size: 17px;
                    position: absolute;
                    left: -10px;
                    top: 7px;
                }
            }
        }
    }

    .active {
        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
    }

    .btn {
        padding: 10px 20px;
    }
}

#feedback {
    .sub-title {
        color: #407BFF;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 0;
    }

    h2 {
        font-size: 38px;
        color: #000000;
        line-height: 1.2;
        margin-bottom: 1.5rem;
    }

    button {
        font-size: 24px;
        width: 40px;
        height: 40px;
        background: #ccc;
        color: #ffffff;
        border-radius: 4px;
        outline: none;
        border: none;
        display: inline-block;
        transition: all .3s;
        cursor: pointer;

        span {
            margin-bottom: 3px;
            display: inline-block;
        }

        &:hover {
            background-color: #407BFF;
        }
    }

    .feedback-item {
        .feedback-desc {
            font-style: italic;
            color: #000;
            text-align: left;
        }

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }
    }
}